.footer {
  height: 100%;
  padding: 50px 200px;
  background: #535353;
}

.footer_header > h1 {
  text-align: center;
  color: white;
}

.footer_header > h3 {
  text-align: center;
}

.footer_header > h3 > a {
  color: var(--light-blue);
}

.footer_header > h4 {
  text-align: center;
  color: #9e9e9e;
}

.footer_row2 {
  display: grid;
  padding-top: 20px;
  /* align-content: center; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
}
.footer_row2-links {
  display: grid;
  align-content: center;
  justify-content: center;
}
.footer_row2-links--container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  text-align: center;
}

.footer_row2-links--container > a {
  color: white;
}

.footer_row2-social {
  display: grid;
  justify-content: flex-end;
  align-content: center;
}

.footer_row2-social--container {
  display: grid;
  justify-content: flex-end;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
}

#footer-hr {
  /* color: #707070; */
  border-color: #707070;
  margin: 20px 0;
}

.footer_row4 {
  text-align: center;
}

.footer_row4 > h4 {
  color: #9e9e9e;
}

.footer_row4 > h5 {
  color: #eee;
}

@media (max-width: 1750px) {
  .footer {
    padding: 50px 200px;
  }
}

@media (max-width: 1700px) {
  .footer {
    padding: 50px 150px;
  }
}

@media (max-width: 1400px) {
  .footer {
    padding: 50px 100px;
  }
}

@media (max-width: 1300px) {
  .footer_row2-links--container > a {
    font-size: 14px;
  }
  .footer_header > h3 {
    font-size: 16px;
  }
  .footer_header > h4 {
    font-size: 14px;
  }
  .footer_row4 > h4 {
    font-size: 14px;
  }
  .footer_row4 > h5 {
    font-size: 12px;
  }
}

@media (max-width: 1050px) {
  .footer_row2 {
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 100%;
  }
  .footer_row2-links {
    justify-content: flex-end;
  }
  .footer_row2-social {
    justify-content: center;

    grid-column-end: span 2;
  }
}
@media (max-width: 700px) {
  .footer {
    padding: 50px;
  }
}
@media (max-width: 750px) {
  .footer_row2-logo > img {
    width: 120px;
  }
}

@media (max-width: 550px) {
  .footer_row2 {
    display: block;
  }
  .footer_row2-links {
    padding-top: 20px;
    justify-content: center;
  }
  .footer_row2-social {
    padding-top: 20px;
  }
  .footer_row2-logo {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .footer_header > h1 {
    font-size: 20px;
  }
  .footer_header > h3 {
    font-size: 12px;
  }
  .footer_header > h4 {
    font-size: 12px;
  }
  .footer_row2-links--container > a {
    font-size: 12px;
  }
  .footer_row4 > h4 {
    font-size: 12px;
  }
  .footer_row4 > h5 {
    font-size: 10px;
  }
}
