.about {
  height: 100vh;
  box-sizing: border-box;
  padding: 50px 250px;
}

.about-title {
  font-size: 24px;
  margin-bottom: 50px;
  letter-spacing: 5px;
}

.about-contents {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-column-gap: 50px;
}
.about-contents_col1 {
  display: grid;
  /* justify-content: center; */
}
.about-contents_col2 {
  padding-top: 20px;
}

.about-contents_col1--description {
  text-align: center;
  width: 450px;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
}

.about-contents-col1--button {
  display: grid;
  /* justify-content: ; */
}

@media (max-width: 1750px) {
  .about {
    padding: 50px 200px;
  }
}

@media (max-width: 1700px) {
  .about {
    padding: 50px 150px;
  }
}

@media (max-width: 1650px) {
  .about {
    padding: 50px 150px;
  }
}

@media (max-width: 1600px) {
  /* .about-contents {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  } */
}
