.projectCard {
  border: 0.5px solid #c9c6c639;
  border-radius: 30px;
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 50px;
  box-shadow: 3px 4px 5px rgb(0, 0, 0, 0.16);
}

.projectCard_row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.projectCard_row-1_col2 {
  justify-self: flex-end;
}

.projectCard_row-1_col1 {
  display: grid;
  grid-template-columns: 100px auto;
  justify-content: start;
}

.row-1_col1--company-name {
  display: grid;
  align-content: center;
}

.row-1_col1--company-name > a {
  color: var(--darker-blue);
  font-size: 20px;
  font-weight: 600;
}

.projectCard_row-1_col2 {
  display: grid;
  align-content: center;
  font-weight: 600;
  color: #535050;
  font-size: 18px;
  text-align: right;
}

.row-1_bottom-divider > hr {
  border: 0.5px solid #c9c6c639;
  margin: 50px 0px;
}

.projectCard_row-2_ul {
  font-size: 18px;
}

.projectCard_row-2_ul > li {
  line-height: 30px;
  margin-top: 20px;
}

.projectCard_row-3 {
  margin-top: 50px;
  padding: 30px 50px;
  background: #efefef;
}

.projectCard_row-1,
.projectCard_row-2,
.row-1_bottom-divider {
  padding: 0px 50px;
}

@media (max-width: 1500px) {
  .row-1_bottom-divider > hr {
    margin: 30px 0;
  }
}

@media (max-width: 1100px) {
  .row-1_bottom-divider > hr {
    margin: 20px 0;
  }
  .projectCard {
    padding-top: 30px;
  }
  .projectCard_row-3 {
    margin-top: 30px;
  }
  .projectCard_row-2_ul,
  .projectCard_row-3 {
    font-size: 16px;
  }
  .row-1_col1--company-name > a {
    font-size: 18px;
  }
  .projectCard_row-1_col2 {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .projectCard_row-1,
  .projectCard_row-2,
  .row-1_bottom-divider {
    padding: 0px 40px;
  }
  .projectCard_row-2_ul,
  .projectCard_row-3 {
    font-size: 14px;
  }
  .row-1_col1--company-name > a {
    font-size: 16px;
  }
  .projectCard_row-1_col2 {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .projectCard_row-1,
  .projectCard_row-2,
  .row-1_bottom-divider {
    padding: 0px 30px;
  }
  .projectCard_row-1_col1 {
    grid-template-columns: 70px auto;
  }
  .row-1_col1--logo > img {
    width: 45px;
  }
}

@media (max-width: 600px) {
  .projectCard_row-2_ul,
  .projectCard_row-3 {
    font-size: 12px;
  }
  .row-1_col1--company-name > a {
    font-size: 14px;
  }
  .projectCard_row-1_col2 {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .projectCard_row-1,
  .projectCard_row-2,
  .row-1_bottom-divider {
    padding: 0px 20px;
  }

  .projectCard_row-2_ul,
  .projectCard_row-3 {
    font-size: 11px;
  }
  .row-1_col1--company-name > a {
    font-size: 12.5px;
  }
  .projectCard_row-1_col2 {
    font-size: 11px;
  }
  .projectCard_row-2 > ul {
    padding-left: 20px;
  }
}

@media (max-width: 450px) {
  .row-1_col1--logo > img {
    width: 30px;
  }
  .projectCard_row-1_col1 {
    grid-template-columns: 45px auto;
  }
  .projectCard_row-2_ul,
  .projectCard_row-3 {
    font-size: 10px;
  }
  .row-1_col1--company-name {
    font-size: 11px;
  }
  .projectCard_row-1_col2 {
    font-size: 10px;
  }
}
