a {
  text-decoration: none;
}
.socialButtonContainer {
  width: 50px;
  height: 50px;
  background: #5b5a5a;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.25);
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

.socialButtonContainer > #icon {
  color: white;
  box-sizing: border-box;
  font-size: 20px;
}

.socialButtonContainer:hover > #icon {
  transform: scale(1.1);
  color: var(--darker-blue);
  transition: all 0.5s;
}

@media (max-width: 1250px) {
  .socialButtonContainer {
    width: 40px;
    height: 40px;
  }

  .socialButtonContainer > #icon {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .navbar-burger {
    position: absolute;
    top: 100px;
    right: 100px;
  }
  .home {
    padding-bottom: 0px;
  }
  .home-flex2 {
    margin-top: 3vh;
  }
  .home-flex3_social {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 320px 20px 320px;
  }
}
