.ratingBar {
  display: grid;
  grid-template-columns: 120px auto 1fr;
  align-content: center;
  margin-bottom: 20px;
}

.ratingBar-skillName {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: white;
  background: #1f5673;
}

.ratingBar-bar {
  background: var(--darker-blue);
  /* width: 500px; CHANGE THIS TO CHANGE THE VALUE OF LIFE */
}

.ratingBar-bar_value {
  text-align: center;
  padding: 10px 15px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

@media (max-width: 1500px) {
  .ratingBar-skillName {
    font-size: 14px;
  }

  .ratingBar-bar_value {
    font-size: 14px;
  }
  .ratingBar {
    grid-template-columns: 100px auto 1fr;
  }
}

@media (max-width: 1450px) {
  .ratingBar-skillName {
    vertical-align: middle;
  }
  .ratingBar-skillName {
    font-size: 12px;
  }

  .ratingBar-bar_value {
    font-size: 12px;
  }
}

@media (max-width: 1400px) {
  .about {
    padding: 50px 100px;
  }
}

@media (max-width: 1300px) {
  .about-contents_col1--description > h3 {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .ratingBar-skillName {
    font-size: 10px;
  }

  .ratingBar-bar_value {
    font-size: 10px;
  }
  .ratingBar {
    grid-template-columns: 70px auto 1fr;
  }
}
